# Node
node_modules/
dist/
build/
.storybook/storybook-static/
storybook-static/
.npm/
npm-debug.log
yarn-error.log

# Vite
node_modules/.vite

# OS / Editor
.DS_Store
.vscode/
*.log

# Env
.env
.env.local
